* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,.root {
    min-height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: tallThin;
    src: url(./../public/ostrich-sans.sans-rounded-medium.ttf);
}


.main {
    display: flex;
    flex-direction: column;

    nav {
        width: 100%;
        color: whitesmoke;
        background-color: rgb(13, 13, 13);
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;

        .navItem {
            font-family: tallThin;
        }

        .left {
            color: whitesmoke;
            font-size: 1.5rem;
            margin-left: 1rem;
            margin-block: auto;
        }

        .right {

            .bgScreen {
                display: none;
            }

            .smScreen {
                .navItem {
                    color: rgb(255, 255, 255);
                    background-color: rgb(255, 80, 80);
                    font-size: 1rem;
                    font-weight: 600;
                    display: inline-block;
                    letter-spacing: 1px;
                    margin: 0.2rem;
                    border-radius: 7px;
                    padding: 0.7rem;
                }
            }

        }
    }

    .page1 {
        height: 100vh ;
        display: flex;

        img {

            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 5%;

            h3 {
                font-size: clamp(46.4px, 9vw, 150px);
                font-weight: 300;

                span {
                    font-weight: 100;
                    margin-left: clamp(2rem, 10vw, 8rem);
                }
            }

            p {
                width: clamp(224px, 70vw, 350px);
                font-size: 0.92rem;
                color: rgba(255, 255, 255, 0.705);
                font-weight: 400;
                margin-left: clamp(38px, 12vw, 140px);
            }
        }

        .btn {
            color: white;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%, -50%);

            .arrow {
                width: 30px;
                aspect-ratio: 1/1;
                background-color: rgba(167, 167, 167, 0.288);
                backdrop-filter: 10px;
                border: 1px solid rgba(128, 128, 128, 0.699);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-30deg);
                transition: all 0.2s ease;
            }

            .arrow:hover {
                transform: rotate(0);
            }

            p {
                color: rgba(255, 255, 255, 0.895);
                font-family: tallThin;
                font-size: 1.1rem;
            }
        }
    }


}

@keyframes rotate {
    from {
        rotate: -30deg;
    }

    to {
        rotate: 0deg;
    }
}

@media (min-width:768px) {
    .main {
        nav {
            .right {
                width: clamp(60%, 100%, 376px);
                display: flex;
                justify-content: flex-end;

                .bgScreen {

                    font-size: 0.8rem;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-around;

                    .navItem {
                        background-color: rgba(78, 78, 78, 0.464);
                        font-weight: 500;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        display: inline-block;
                        margin: 0.2rem;
                        border-radius: 7px;
                        padding: 0.7rem;
                    }
                }

                .smScreen {
                    .navItem {
                        width: 90px;
                        padding-inline: 0.55rem;
                    }
                }
            }
        }

        .page1 {
            .text {
                top:40%;

                h3{
                    line-height: 1.3;
                    letter-spacing: 10px;
                }
            }

            .btn {
                width: 150px;
                top: 90%;
                left: 85%;

                p {
                    font-size: 1.25rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
}