* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.root {
    min-height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: tallThin;
    src: url(ostrich-sans.sans-rounded-medium.ttf);
}


.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);

    nav {
        width: 100%;
        color: whitesmoke;
        background-color: rgb(13, 13, 13);
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;

        .navItem {
            font-family: tallThin;
        }

        .left {
            color: whitesmoke;
            font-size: 1.5rem;
            margin-left: 1rem;
            margin-block: auto;
        }

        .right {

            .bgScreen {
                display: none;
            }

            .smScreen {
                .navItem {
                    color: rgb(255, 255, 255);
                    background-color: rgb(255, 80, 80);
                    font-size: 1rem;
                    font-weight: 600;
                    display: inline-block;
                    letter-spacing: 1px;
                    margin: 0.2rem;
                    border-radius: 7px;
                    padding: 0.7rem;
                }
            }

        }
    }

    .page1 {
        height: 100vh;
        display: flex;

        img {

            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 5%;

            h3 {
                font-size: clamp(46.4px, 9vw, 150px);
                font-weight: 300;

                span {
                    font-weight: 100;
                    margin-left: clamp(2rem, 10vw, 8rem);
                }
            }

            p {
                width: clamp(224px, 70vw, 350px);
                font-size: 0.92rem;
                color: rgba(255, 255, 255, 0.705);
                font-weight: 400;
                margin-left: clamp(38px, 12vw, 140px);
            }
        }

        .btn {
            color: white;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%, -50%);

            .arrow {
                width: 30px;
                aspect-ratio: 1/1;
                background-color: rgba(167, 167, 167, 0.288);
                backdrop-filter: 10px;
                border: 1px solid rgba(128, 128, 128, 0.699);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-30deg);
                transition: all 0.2s ease;
            }

            .arrow:hover {
                transform: rotate(0);
            }

            p {
                color: rgba(255, 255, 255, 0.895);
                font-family: tallThin;
                font-size: 1.1rem;
            }
        }
    }

    .cards {
        margin-block: 1rem;
        padding: 0.4rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .card {
            width: 100%;
            height: 200px;
            color: rgb(239, 239, 239);
            background-color: rgb(45, 45, 45);
            border-radius: 7px;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            position: relative;

            h4 {
                font-size: 0.95rem;
                font-weight: 400;
            }

            p {
                font-size: 0.9rem;
            }

            .btn {
                display: flex;
                align-items: center;
                gap: 0.9rem;

                // position: absolute;
                // bottom: 2%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                .arrow {
                    width: 30px;
                    aspect-ratio: 1/1;
                    background-color: rgba(167, 167, 167, 0.288);
                    backdrop-filter: 10px;
                    border: 1px solid rgba(128, 128, 128, 0.699);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        transform: rotate(-145deg);
                        transition: all 0.2s ease;
                    }


                }

                .arrow:hover {

                    i {
                        transform: rotate(-145deg) translate(-0%, 22%);
                    }

                }


                p {
                    // color: rgba(255, 255, 255, 0.895);
                    font-family: tallThin;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .results {
        color: rgb(240, 240, 240);
        display: grid;
        padding: 1rem;
        grid-column: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem;

        .prev {
            width: 100%;
            height: 100px;
            font-family: tallThin;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h5 {
                font-size: 1.2rem;
                letter-spacing: 1px;
                font-weight: 300;
            }

            p {
                font-size: 3rem;
            }
        }
    }

    .article1{
        color: rgb(236, 236, 236);
        padding:0.5rem;

        .desc{
            background-color: rgb(45, 45, 45);
            padding: 2rem;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h5{
                font-family: tallThin;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: 1px;
            }

            h2{
                font-weight: 400;
                margin-bottom: 0.8rem;
            }

            .content{

                .text{
                    height:200px;
                    font-size: 1rem;
                    font-weight: 300;
                    overflow:hidden;
                }
    
                .text.expanded{
                    height:auto;
                }
            }
        }

        .img{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

}

@media (min-width:768px) {
    .main {
        nav {
            .right {
                width: clamp(60%, 100%, 376px);
                display: flex;
                justify-content: flex-end;

                .bgScreen {

                    font-size: 0.8rem;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-around;

                    .navItem {
                        background-color: rgba(78, 78, 78, 0.464);
                        font-weight: 500;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        display: inline-block;
                        margin: 0.2rem;
                        border-radius: 7px;
                        padding: 0.7rem;
                    }
                }

                .smScreen {
                    .navItem {
                        width: 90px;
                        padding-inline: 0.55rem;
                    }
                }
            }
        }

        .page1 {
            .text {
                top: 40%;

                h3 {
                    line-height: 1.3;
                    letter-spacing: 10px;
                }
            }

            .btn {
                width: 150px;
                top: 90%;
                left: 85%;

                p {
                    font-size: 1.25rem;
                    letter-spacing: 1px;
                }
            }
        }

        .cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                flex: 0 0 calc(50% - 0.2rem);
            }
        }

        .results {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

@media(min-width:1024px) {
    .main {
        .cards {
            padding: 1.5rem;

            .card {
                flex: 1;

                h4 {
                    font-size: 0.88rem;
                }

                p {
                    font-size: 0.79rem;
                }

                .btn {

                    .arrow {
                        width: 25px;
                    }

                    p {
                        font-size: 0.95rem;
                    }
                }
            }
        }

        .results {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

    }
}